*{
    @include espacios(0,0)
}

.row{
    @include espacios(0,0)
}

body{
    background-color: white;
}

header{
    div{
        h1{
            a{
                text-decoration: none;
                color:map-get($color , principal);
                font-family: 'Noto Serif', serif;
                font-style:italic;
                font-weight: 300;
                animation-name: slide;
                animation-duration: 1s;

                    &:hover{
                        text-decoration: none;
                        color:map-get($color , secundario);
                        }
                }
            }
        

        h2{
            color: map-get($color , principal);
            font-family:'BIZ UDPMincho', serif;
            text-align: center;
            font-weight: 100;
            font-size: 16px;
            animation-name: slide;
            animation-duration: 1s;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h3{
    color: map-get($color , principal);
    font-family: 'Noto Serif', serif;
}

h4{
    @extend h3;
    font-size: 18px;

        a{
        color: map-get($color , principal);
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        background-color: map-get($color , negro) ;
        border-radius:5px;

            &:hover{
                color: map-get($color , blanco);
                }
        }   
}

nav{
    div{
        ul{
            li{
                a{
                    background-color:map-get($color , terciario);
                    border-radius: 10px;
                    @include espacios (0,5px)
                }

            .dropdown-menu{
                background-color:map-get($color , terciario);

                .dropdown-item{
                    width: 200px;

                        &:hover{
                            background-color: map-get($color , blanco);
                        }

                        &:active{
                            color: map-get($color , negro) ;
                        }
                    }
                }

            }
        
        }
    }
}

footer{
    background-color: map-get($color , terciario);

    ul{
        li{
            list-style-type: none;
            font-size: 32px;
            display:inline-block;

            i:hover{
                transform: scale(1.5);
                transition: 0.5s;
            }
        }
    }
    .derechos{
        border-top: solid 2px;
        padding-top: 15px;
    }
}
