.texto-portfolio{
    position: absolute;
    z-index: 100;
}

.img-portfolio{
    transition: 1s;
}

.img-portfolio:hover{
    filter: blur(3px);
}

#galeria{
    width: 100%;
    @include espacios (0 0 20px 0, 0);
    transition: 0.5s;
        
        &:hover{
            transform: scale(1.1)
        }
}

.contenedor-fotos{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;

        &:hover{
            transform: scale(1.1);
        }

}
