*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(167deg, rgba(251,251,251,1) 0%, rgba(240,240,240,1) 51%, rgba(214,190,236,1) 100%);
}

header div h1 a{
    text-decoration: none;
    color: #b99ad4;
    font-family: 'Noto Serif', serif;
    font-style:italic;
    font-weight: 300;
}
header div h1 a:hover{
    text-decoration: none;
    color: #8957b6;
}

header div h2{
    color: #b99ad4;
    font-family:'BIZ UDPMincho', serif;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
}
.redes{
    list-style-type: none;
    font-size: 32px;
    display:inline-block;
}

h3,h4 {
    color: #b99ad4;
    font-family: 'Noto Serif', serif;
    
}

h4{
    font-size: 18px;
}
h4 a{
    color: #b99ad4;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    background-color: black;
    border-radius:5px;
}

h4 a:hover{
    color: white;
}

.btn{
    background-color: #b99ad4;
    color: white;
    padding: 2px;
    border-radius: solid 2px;
}



#coments{
    border-radius: 5px;
    border: 2px solid #592289;
    padding: 5px;

}

#galeria{
    width: 100%;
    padding-bottom:20px;
}
